html, body {
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #1C2333;
  color: #fff;
}

main{
  max-width: 500px;
  margin: auto;
  padding: 12px;
}

h1,
p{
  text-align:center;
}

.container .field-container{
  display: inline-block;
  width: 49%;
}

.first{
  padding-right: 15px;
}

.field-container{
  padding-bottom: 10px;      
}

label,
input{
  display: block;
  width: 100%;
}

input,
select,
button{
 padding: 5px 10px;
}

button{
  margin-top: 10px;
}